@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background: #f9fafb;
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertically centered  */
    min-height: 100vh; 
}
.main-header{
    text-align: center;
    animation-name: title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
    
}
@keyframes title{
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}
.container{
    background: #fff;
    box-shadow:  0 2px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    width: 550px;
    animation-name: myform;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;

}
h2{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    padding: 20px 40px;
    margin: 40px 0;
    
}
@keyframes myform{
    0%{
        left: -1000px;
    }
    100%{
        left: 0;
    }
}
.form-control{
    margin-bottom: 20px;
    padding-top: 20px;
    position: relative;
}
.form-control label{
    display: block;
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: 600;

}
.form-control input, .dropdown{
    display: block;
    width: 100%;
    /* border: 2px solid #f0f0f0; */
    border: 2px solid #9b9393;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
}

.form-control input:focus ,
.dropdown:focus{
    outline: none;
    border-color: #777777;
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control small{
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

/* Error class  addedin js*/
.form-control.error small{
    visibility: visible;
}

.submit-btn{
    margin-top: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
    outline: none;
    font-size: 1.3em;
    width: 100%;
    cursor: pointer;
}
.submit-btn:hover{
    color: #000;
}

@media (max-width: 768px){
    .form-control input, .dropdown, .submit-btn{
        width: 80%;
    }
    .container{
        width: 400px;
    }
}